<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 
    <%= f.email_field :email, autofocus: true ,placeholder:"Email address",class:"input-field" %>
 <% if @validatable %>
    <p>Password should be <%= @minimum_password_length %> characters minimum</p>
    <% end %>
    <%= f.password_field :password, autocomplete: "off",class:"input-field",placeholder:"Password"%>
  
    <%= f.password_field :password_confirmation, autocomplete: "off",class:"input-field",placeholder:"Confirm password" %>
<p>Who you are ?</p>
    <div class="controls text-center" style="margin-top:-15px;">
      <label>
          <%= f.radio_button :user_type, 'individual', :checked => true ,:class=>"input-field"%>Individual
      </label>

      <label>
         <%= f.radio_button :user_type, 'organisation',:class=>"input-field"%>Organisation
      </label>
    </div>
   

    <%= f.submit "Sign up" ,class:"btn btn-login"  %>

<% end %>
<div class="login-links"> 
<%= render "devise/shared/links" %>
</div>
