<!-- Page Heading -->
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10 card">
    <h1 class="page-header">
        Profile
        <span style='bottom:0px;' class="small pull-right"><%=current_user.email%></span>
    </h1>
   
    <ol class="breadcrumb">
      <li>
          <i class="fa fa-home"></i>  <a href="<%=posts_path%>">Home</a>
      </li>
      <li class="active">
          <i class="fa fa-edit"></i> Profile
      </li>
    </ol>
<!-- /.row -->
<div class="row">
  <form role="form" action="<%=edit_user_path(current_user.id)%>">
    <div class="col-lg-6">
      <div class="form-group">
          <label>Organisation Name</label>
          <% current_user %>
          <p class="form-control-static"><%=current_user.first_name%></p>
      </div>
      <div class="form-group">
          <label>Address</label>
          <p  class="form-control-static"><%=current_user.address%></p>
      </div>
      <div class="form-group">
          <label>Contact no.</label>
          <p class="form-control-static"><%=current_user.contact%></p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Foundation Date</label>
        <p class="form-control-static" ><%=current_user.dob%></p>
      </div>
      <div class="form-group">
	    <label>Objective</label>
		<p class="form-control-static"><%=current_user.objective%></p>
	  </div>
      <div class="form-group">
         <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i> Edit</button> 
      </div>
    </div>
  </form>
  <br/>
</div>
</div>
</div>
<!-- /.row -->
